<div class='panel panel-primary'>
        <div class='panel-heading' >
            {{pageTitle}}
        </div>
        <div class ='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                
                        <th>Name</th>
                        <th>Model </th>
                        <th>Manufacturer</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr >   
                        
                        <td>{{starWars.name }}</td>  
                        <td>{{starWars.model }}</td>
                        <td>{{starWars.manufacturer}}</td>
                           
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>